<form>
<div class="app-root">
  <select name="company" id="">
    <option>-- Select One --</option>
    <option value="add"> -- Add a company --</option>
    {{#each companies}}
    <option value="{{_id}}">{{name}}</option> 
    {{/each}}
  </select>
  <div class="hideIfNotNew">
    <label for="">
      Company Name:
      <input type="text" name="name" />
    </label>
  </div>
  <div>
    <label for="">
      Position:
      <input type="text" name="position" required/>
    </label>
  </div>
  <div>
    <label for="">
      Status:
      <input type="text" name="status" required/>
    </label>
  </div>
  <div>
    <label for="">
      Requirements:
      <input type="text" name="requirements" required/>
    </label>
  </div>
  <div>
    <label for="">
      Time Estimate:
      <input type="text" name="timeestimate" required/>
    </label>
  </div>
  <div>
    <label for="">
      Price:
      <input type="number" name="price" required/>
    </label>
  </div>
  <div>
    <label for="">
      Description:
      <input type="text" name="description" required/>
    </label>
  </div>
  <button>Submit</button>
</div>
</form>

<script src="/javascripts/admin.js"></script>


{{!-- <div class="form">
  <div class="form-header">
  </div>
  <div class="form-body">
  <form action="/admin" method="post" id="admin">
  <span class="payment-errors"></span>

  <div class="first-row">
    <label>
      <input type="text" name="name" placeholder="Company">
    </label>
  </div>

  <div class="first-row">
    <label>
      <input type="text" name="position" placeholder="Position">
    </label>
  </div>

  <div class="first-row">
    <label>
      <input type="text" name="status" placeholder="Status"/>
    </label>
  </div>

  <div class="second-row">
    <label>
      <input type="text" name="requirements" placeholder="Requirements">
    </label>
  </div>

  <div class="second-row">
    <label>
      <input type="text" name="timeestimate" placeholder="Time Estimate">
    </label>
  </div>

  <div class="third-row">
    <label>
      <input type="text" name="price" placeholder="Price">
    </label>
  </div>

  <button type="submit">Get Paved</button>
  </form>
  </div>
</div> --}}