<div class="form">
  <div class="form-header">
  </div>
  <div class="form-body">
  <form action="/admin" method="post" id="admin">
  <span class="payment-errors"></span>

  <div class="first-row">
    <label>
      <input type="text" name="title" placeholder="Title">
    </label>
  </div>

  <div class="first-row">
    <label>
      <input type="text" name="status" placeholder="Status"/>
    </label>
  </div>

  <div class="second-row">
    <label>
      <input type="text" name="requirements" placeholder="Requirements">
    </label>
  </div>

  <div class="second-row">
    <label>
      <input type="text" name="timeestimate" placeholder="Time Estimate">
    </label>
  </div>

  <div class="third-row">
    <label>
      <input type="text" name="price" placeholder="Price">
    </label>
  </div>

  <button type="submit">Get Paved</button>
  </form>
  </div>
</div>