<div class="app-root">
  <select name="" id="">
  <option>-- Select One --</option>
  <option value="add"> -- Add a company --</option>
  <option value="c">Company XYZ</option>
  <option value="a">Adobe</option>
  <option value="n">Noodle</option>
  <option value="t">Thinkful</option>
  <option value="p">Paved</option>  
  </select>
  <div class="hideIfNotNew">
    <label for="">
      Company Name:
      <input type="text" />
    </label>
  </div>
  <div>
  <label for="">
    Opportunity Name:
    <input type="text" name="opportunity-name" />
  </label>
  </div>
</div>

<script src="../../public/javascripts/admin.js"></script>

<!--
<div class="form">
  <div class="form-header">
  </div>
  <div class="form-body">
  <form action="/admin" method="post" id="admin">
  <span class="payment-errors"></span>

  <div class="first-row">
    <label>
      <input type="text" name="company" placeholder="Company">
    </label>
  </div>

  <div class="first-row">
    <label>
      <input type="text" name="position" placeholder="Position">
    </label>
  </div>

  <div class="first-row">
    <label>
      <input type="text" name="status" placeholder="Status"/>
    </label>
  </div>

  <div class="second-row">
    <label>
      <input type="text" name="requirements" placeholder="Requirements">
    </label>
  </div>

  <div class="second-row">
    <label>
      <input type="text" name="timeestimate" placeholder="Time Estimate">
    </label>
  </div>

  <div class="third-row">
    <label>
      <input type="text" name="price" placeholder="Price">
    </label>
  </div>

  <button type="submit">Get Paved</button>
  </form>
  </div>
</div>