<form action="/admin" method="post" entype="multipart/form-data">
<div class="app-root">
  <input type="hidden" name="method" value="post">
  <select name="company" id="">
    <option>-- Select One --</option>
    <option value="add"> -- Add a company --</option>
    {{#each companies}}
    <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>
  <div class="hideIfNotNew">
    <label for="">
      Company Name:
      <input type="text" name="name" />
    </label>
  </div>
  <div>
    <label for="">
      Position:
      <input type="text" name="position" required/>
    </label>
  </div>
  <div>
    <label for="">
      Status:
      <input type="text" name="status" required/>
    </label>
  </div>
  <div>
    <label for="">
      Requirements:
      <input type="text" name="requirements" required/>
    </label>
  </div>
  <div>
    <label for="">
      Time Estimate:
      <input type="text" name="timeestimate" required/>
    </label>
  </div>
  <div>
    <label for="">
      Price:
      <input type="number" name="price" required/>
    </label>
  </div>
  <div>
    <label for="">
      Description:
      <input type="text" name="description" required/>
    </label>
  </div>
  <div>
    <label for="">
      File:
    <input type="file" name="file_upload" id="file_upload">
  </label>
  </div>
  <button>Submit</button>
</div>
</form>

<script src="/javascripts/admin.js"></script>
