<div class="container">
	<div class="company-title">
	<h3 class="company">{{company.name}}
 	</h3>
 	</div>
 	<div>
 		<p>{{opportunity.position}}
 		</p>
 	</div>
 	<div class="description">
 		<p>{{opportunity.description}}
		</p>
 	</div>
 </div>