<div class="container">
{{#companies}}
	<div class="company-title">
	<h3 class="company">{{name}}
 	</h3>
 	</div>
 	<div class="description">
 		<p>{{description}}
		</p>
 	</div>
 {{/companies}}
 </div>
