<div class="banner">
	<h2>OPPORTUNITIES
	</h2>
	<p>Each position will be listed along with the employer’s estimate of when it will open, any absolute minimum requirements they may have, and the amount of time they suggest you spend on the evaluation. We will deliver your completed evaluation straight to the person that matters.<br><br>

	No HR departments to block your path, no silly job descriptions and requirements. Put in the effort and you will be recognized.
	</p>
</div>
<hr>
<div class="opportunities-container">
	<div class="company-container">
		<h3>THINKFUL
		</h3>
		<table class="opportunities-table">
			<tbody>
				<tr> 
					<td class="opportunities name">Marketing
					</td>
					<td class="opportunities timeframe">Open</td>
				</tr>
				<tr>
					<td class="focused">Absolute minimum requirement: college degree</td>
				</tr>
				<tr>
					<td class="focused">Estimated time to complete evaluation: 10 hours</td>
				</tr>
				<tr>
					<td class="focused">Price: 99</td>
				</tr>
				<tr>
					<td class="focused"><button><a href="/evaluation">GET EVALUATION</button></td>
				</tr>
				<tr>
					<td class="opportunities name">Business Development</td>
					<td class="opportunities timeframe">3-6 months</td>
				</tr>
				<tr>
					<td class="opportunities name">Community Manager</td>
					<td class="opportunities timeframe">1-3 months</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="company-container">
		<h3>NOODLE
		</h3>
		<div class="opportunities-list">
			<ul>
				<li class="opportunities">Email Manager</li>
				<li class="opportunities">Copywriter</li>
				<li class="opportunities">Front-end Developer</li>
			</ul>
		</div>
	</div>
	<div class="company-container">
		<h3>THINKFUL
		</h3>
		<div class="opportunities-list">
			<ul>
				<li class="opportunities">Marketing</li>
				<li class="opportunities">Business Development</li>
				<li class="opportunities">Community Manager</li>
			</ul>
		</div>
	</div>
</div>