<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Paved - Proven Hires
	</title>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/{{stylesheet}}.css">
	<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="testing">Short on experience? Seeking a career change? Want to jump a rung on the ladder? We've done the work to get you hired at your favorite startups. Ready to show them what you can do?</div>
<div class="form-body">
<form action="/" method="POST" id="email">
	<div class="first-row">
		<label>
  		<span>Enter your email to be notified when we launch:
  		</span>
    		<input type="text" name="email" placeholder="Email">
    		<button type="submit">Get Paved</button>
  	</label>
	</div>
</form>
</body>
</html>