.hideIfNotNew {display: none}

.new-company .hideIfNotNew { display: block; }

/*
.form {
	margin-left: 50%;
	transform: translateX(-50%);
	width: 24em;
}

.form-header {
	height: 4em;
	width: 24em;
	background-color: rgb(73,108,137);
	margin-top: 5em;
}

.form-body {
	height: 12em;
	width: 24em;
	text-align: center;
	background-color: rgb(242,242,242);
	margin-bottom: 15em;
}

.first-row {
	display: inline-block;
	margin-top: 1em;
}

.second-row {
	display: inline-block;
}

.third-row {
	display: inline-block;
}

#last {
	width: 3.9em;
}

button {
	height: 3em;
	width: 8em;
	margin-top: 2em;
	background-color: rgb(72,145,115);
	border: 0;
	border-radius: .2em;
	color: white;
	font-family: 'Cantarell', sans-serif;
}

*/