html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	min-width: 1200px;
	font-family: 'Cantarell', sans-serif;
}

header {
	height: 3em;
	width: 100%;
	background-color: rgb(73,108,137);
	display: inline-block;
}

.navigation {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.navigation a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

.navigation li {
	display: inline-block;
}

.logo {
	margin-left: 2.8em;
	margin-right: 35em;
	font-size: 1.4em;
}

.nav-menu {
	margin-right: 3em;
	font-size: .9em;
}

footer {
	height: 2em;
	background-color: rgb(73,108,137);
}