.banner {
	height: 22em;
	text-align: center;
}

.banner h2 {
	position: absolute;
	font-size: 1.6em;
	margin-top: 1em;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-bottom: 2em;
}

.banner p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.2em;
	margin-left: 4.6em;
	margin-right: 4.6em;
}

hr {
	width: 80%;
	left: 10%;
	opacity: .5;
	margin-top: -2em;
	margin-bottom: 2em;
}

.opportunities-container {
	position: relative;
	width: 60%;
	left: 20%;
}

.company-container {
	margin-bottom: 2em;
}

.company-container h3 {
	font-weight: bold;
}

.opportunities-table {
	border: 1px solid black;
}

.name {
	width: 38em;
}

.opportunities {
	padding: 1.4em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}